* {
    padding: 0px;
    margin: 0px;
}

.wrapper {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                url(./images/derice-camera.jpg);
    background-size: cover;
    height: 100vh;
}

.navbar {
    height: 60px;
    width: 100%;
}

.logo {
    width: 250px;
    height: auto;
    padding: 10px 20px;
}

.navbar ul {
    margin-right: 25px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    line-height: 40px;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
    padding: 6px 20px;
}

.navbar ul li a:hover {
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    border-radius: 25px;
    cursor: pointer;
}