@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,700&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

.wrapper {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url(./images/abhishek-camera.jpg);    
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.navbar {
    position: absolute;
    height: 100px;
    width: 100%;
    padding: 0px;
}

.logo {
    width: 200px;
    height: auto;
    padding: 0 20px;
}

.navbar ul {
    position: relative;
    margin: 10px 25px;
}

.navbar ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    line-height: 80px;
}

.navbar ul li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding: 5px 20px;
}

.navbar ul li a:hover {
    background: rgba(255, 213, 52, 0.9);
    color: #000;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ubuntu', sans-serif;
}

.content h1 {
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

span {
    color: #ffd534;
}

.content h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    width: 1000px;
    text-align: center;
    margin: 30px;
}

.content .buttons {
    margin: 35px 330px;
}

button{
    width: 140px;
    padding: 8px 0;;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-left: 30px;
    cursor: pointer;
}

.buttons button:hover{
    background: #ffd534;
    color: #000;
    transition: 0.3s;
}